# Level of logging for jamfactory.
# Allowed values in decreasing order of verbosity are (case-insensitive):
# panic, fatal, error, warn, info, debug, trace
JAM_LOG_LEVEL=INFO

# The environment jamfactory should run in.
# Set either to production (case-insensitive) or anything else for development
JAM_PRODUCTION=DEVELOPMENT

# The directory jamfactory saves data within such as cookie keypairs.
JAM_DATA_DIR=./data

# JAM_API_ADRESS and JAM_API_PORT together yield the address jamfactory should listen on.
JAM_API_ADDRESS=http://localhost
JAM_API_PORT=3000

# JAM_CLIENT_ADRESS and JAM_CLIENT_PORT together yield the address the jamfactory client listens on.
JAM_CLIENT_ADDRESS=http://localhost
JAM_CLIENT_PORT=4200

# These values are available from the Spotify developer portal for a registered app.
# The value given in JAM_SPOTIFY_REDIRECT_URL has to be registered for your app at Spotify.
JAM_SPOTIFY_ID=abcdef0123456
JAM_SPOTIFY_SECRET=abcdef0123456
JAM_SPOTIFY_REDIRECT_URL=http://localhost:3000/api/v1/auth/callback

# Connection details for your redis instance
JAM_REDIS_ADDRESS=localhost
JAM_REDIS_PORT=6379
JAM_REDIS_DATABASE=0
JAM_REDIS_PASSWORD=password
